#content h1, .home-secondary > h3 {
    color: #585b87;
    font-family: krabby-patty;
}

.home-main {
    height: 350px;
}

.home-main, .home-secondary {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-main-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.krusty-krab {
    width: 300px;
    height: auto;
}

p{
    font-weight: 400;
}

.home-secondary-info {
    display: flex;
    gap: 80px;
}

.home-info-section {
    color: white;
    padding: 10px;
}