.menu-item {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto;
    height: 250px;
    gap: 20px;
    width: 60%;
    align-items: center;
    background: linear-gradient(to bottom, #a51424,#f8fbf1 60%);
    padding: 20px;
}

.menu-item h3 {
    grid-column: 1/3;
    font-weight: 700;
    color: white;
}

.menu-item img {
    grid-row-start: 2;
    max-width: 200px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.menu-item p {
    grid-row-start: 2;
    grid-column-start: 2;
}

.menu-text {
    font-size: 1.5rem;
    font-weight: 700;
}

